{% extends 'product.html' %}
{% block content %}

<form method="POST">
    {%csrf_token%}

    <label for="author-field">Author:</label>
    <input type="text" id="author-field" name="author-field">
    <br>
    <label for="text-field">Your review:</label>
    <input type="text" id="text-field" name="text-field">
    <br>
    <label for="rating-field">Rating:</label>
    <input type="number" id="rating-field" name="rating-field">
    <br>
    <button type="submit">Post review</button>
    
</form>

{% endblock %}